.delete-btn {
    background: none;
    border: none;
    color: #e57373;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.delete-btn:hover {
    color: rgba(76, 0, 0, 0.614);
}